rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return true;
    }

    match /products/{imageId} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
  }
}
